body{
    background-color: #f8f6ff;
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 100%;
    background: #FFF;
    display: inline-flex;
    padding: 12px 140px;
    align-items: center;
}
.logo{
    display: inline-flex;
align-items: center;
gap: 6px;
padding-right: 1206px;
}
.profile{
    display: flex;
width: 79px;
flex-direction: column;
align-items: center;
gap: 4px;
}
.surffing{
    display: flex;
width: 77px;
flex-direction: column;
align-items: center;
gap: 4px;
}
.make{
    display: flex;
width: 79px;
flex-direction: column;
align-items: center;
gap: 4px;
}
.listall{
    display: flex;
padding: 8px 28px;
flex-direction: column;
align-items: flex-start;
gap: 2px;
align-self: stretch;
width: 215px;
height: 265px;
border-radius: 24px;
background: #FFFFFF;
position: relative;
left: 140px;
top: 120px;
}
.list{
    display: flex;
padding: 5px 0px;
flex-direction: row;
align-items: flex-start;
align-self: stretch;
gap: 12px;
width: 215px;
height: 17px;
}
.listimg{
    width: 22px;
    height: 22px;
}
.listdown{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}
.listgame{
display: flex;
width: 55px;
height: 22px;
padding: 3px 148px 3px 12px;
gap: 8px;
position: relative;
border-radius: 4px;
background: #FFCC49;
align-items: flex-start;
align-self: stretch;
white-space: nowrap; /*줄내 에서 출력하게 하는 코드*/
}
.listfun{
    display: flex;
    width: 191px;
    height: 22px;
padding: 3px 12px;
gap: 8px;
align-items: flex-start;
align-self: stretch;
border-radius: 4px;
background: yellow; /*임시로 노랑*/
white-space: nowrap;
}
.listsports{
    display: flex;
    width: 191px;
    height: 22px;
padding: 3px 12px;
gap: 8px;
align-items: flex-start;
align-self: stretch;
border-radius: 4px;
background: yellow; /*임시로 노랑*/
white-space: nowrap;
}
.listhealth{
    display: flex;
    width: 191px;
    height: 22px;
padding: 3px 12px;
gap: 8px;
align-items: flex-start;
align-self: stretch;
border-radius: 4px;
background: yellow; /*임시로 노랑*/
white-space: nowrap;
}
.listmoney{
    display: flex;
    width: 191px;
    height: 22px;
padding: 3px 12px;
gap: 8px;
align-items: flex-start;
align-self: stretch;
border-radius: 4px;
background: yellow; /*임시로 노랑*/
white-space: nowrap;
}
.liststudy{
    display: flex;
    width: 191px;
    height: 22px;
padding: 3px 12px;
gap: 8px;
align-items: flex-start;
align-self: stretch;
border-radius: 4px;
background: yellow; /*임시로 노랑*/
white-space: nowrap;
}
.friendlistall{
    display: flex;
padding: 8px 28px;
flex-direction: column;
align-items: flex-start;
gap: 2px;
align-self: stretch;
width: 215px;
height: 284px;
border-radius: 24px;
background: #FFFFFF;
position: relative;
left: 140px;
top: 132px;
}
.friendlist{
    display: flex;
padding: 5px 0px;
flex-direction: row;
align-items: flex-start;
align-self: stretch;
gap: 12px;
width: 215px;
height: 17px;
}
.friend{
    display: flex;
align-items: center;
gap: 12px;

}
.friendtext{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
}
.friendtext1{
    color: #000;
font-family: SUIT;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.friendtext2{
    color: #888;
font-family: SUIT;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.maincontents{
    display: flex;
    width: 931px;
    height: 574px;
    position: relative;
    top: 120px;
    left: 452px;
padding: 24px 42px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 24px;
background: #FFF;
}